 

    #img{
        height: 45vh;
        position: relative;
        left:20px;
        top:85px;
        
    }
     
 
@media (max-width: 460px) {
#social{
    height: auto;
}
#img{
    height:auto;
    margin-bottom:100px;
}

}