#main{
    background-image: url(" ");
    
    height: 95vh;
}

#white{
    background: white;
    margin: 10px;
    height: 80vh;
}

#login{
    border: 1px solid black;
    height: 70vh;
    width: 30%;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border: none;
     
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   
}

input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border-color: lightblue;
     
}

 #btn{
    width: 290px;
    position: relative;
    top: 25px;
    background: rgb(89, 89, 192);
    color: white;
 }

 #socil-btn{
    position: relative;
    top: 60px;
    left: 10px;
     height: 40px;
    background: white;
 }