   #blue{
    background: hsl(200, 87%, 15%);
    color:white;
}

 #ipt{
    background: #001d3d;
    width: 250px;
   height: 40px;
   border: none;
 }
 ::placeholder{
    color: white;
    padding-left: 10px;
    font-size: 13px;
 }
 #btn{
    background: skyblue;
    color: black;
    border: none;
    border-radius: 0px;
    
 }
   
 #social icon{
    display: flex;
    gap: 30px;
 }
  